<!DOCTYPE html>
<html>
<head>
  <title>Newsletter</title>
  <%= stylesheet_link_tag    "newsletter/application", media: "all" %>
  <%= javascript_include_tag "newsletter/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
