-@newsletter = Newsletter::Newsletter.tagged_with(tag).last || default
-raise "No newsletter with the tag '#{tag}#, please add it." if not @newsletter
=render partial:"extend", locals:{body:@newsletter.body}
